body{
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    background-image: url(../images/final_bg.jpg);
    background-color: rgba(255, 255, 255, 0.386);
    background-blend-mode: overlay;
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#logo{   
    width: 500px;
    height: 100px;
    margin: auto;
    display: block;
}
.dashboard-sidebar{
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.85);
    background-blend-mode: overlay;
    position: fixed !important;
    z-index: 1;
    overflow: auto;
    box-shadow: 5px 10px 8px #888888;
}
.dashboard-bar-label{
    width: 20%;
    /* display: block; */
    /* font-weight: bold; */
    color: #00ff7f;
    padding: 4px 50px;
}
.dashboard-link{
    margin: 10px auto;
    padding: 3px 3px;
    text-align: center;
    background-color:rgba(18, 98, 159, 0.5);
    font-weight: bold;
    color:#00ff7f;
}
.dashboard-link:hover{
    margin: 10px auto;
    padding: 3px 3px;
    text-align: center;
    background-color:rgba(209, 206, 109, 0.5);
    font-weight: bold;
    color:crimson;
}
a{
    text-decoration: none;
}
.dashboard-bar-item{
    left: 0;
    margin: 10px auto;
    position: fixed;
    background-color:coral;
    color: firebrick;
}
.dashboard-wrapper{
    margin: auto;
    display: block;
}
#bhertrBoard, #blgurBoard, #isorBoard{
    margin: 10px auto;
    display: block;
}
/* #bdrrmcBoard, #hhBoard, #povBoard, #dirHHBoard, #ncddpafBoard,
#isoBoard, #bhertBoard, #blguBoard, #grsBoard, #setBoard, #femBoard,
#ptaBoard, #spBoard{
    background-blend-mode: overlay;
    box-shadow: 5px 10px 8px #888888;
} */
.dashboard-footer{
    margin: 10px auto;
    padding: 5px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.85);
    color: #00ff7f;
    float: right;
    width: 84%;
}